.project-card-container {
    position: relative;
    background-color: #FDCCE8;
    width: 550px;
    height: 550px;
    display: flex;
    flex-direction: column;
    border: 5px solid #fc9bd3; /* Default border color */
    transition: border-color 0.3s;
}

.project-card-container:hover {
    border: 5px solid #D4FAFF; /* New border color on hover */
}

.read-more {
    position: absolute;
    bottom: 10px;
    right: 15px;
    color: #332b48;
    cursor: pointer;
    text-decoration: underline;
}

.read-more:hover {
    color: #D4FAFF; /* Change color on hover */
    /* Add any other hover styles here */
}

.arrow-icon {
    fill: #332b48; /* Initial arrow color */
}

.project-card-container:hover .arrow-icon {
    fill: #D4FAFF; /* Arrow color on card hover */
}

.overlay-text {
    font-size: 12px; /* Example default size */
    /* Other styling */
}

/* Styles for screens less than 600px wide */
@media (max-width: 600px) {
    .overlay-text {
        font-size: 8px; /* Smaller font size for mobile devices */
        /* Any additional adjustments for smaller screens */
    }
}

.icon {
    width: 24px; /* Default width for larger screens */
    height: 24px; /* Default height for larger screens */
}

/* Responsive adjustments for screens less than 600px wide */
@media (max-width: 600px) {
    .icon {
        width: 20px; /* Smaller width for mobile devices */
        height: 20px; /* Smaller height for mobile devices */
    }
}